:root {
  --shadow: 0px 0px 15px 5px rgba(70, 70, 70, 1);
  --shortDelay: 0.5s;
}

*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  position: relative;
}

body {
  padding : 5rem;

}




.fx_col-cc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fx_col-sac {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
}

.fx_row-cc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



nav a {
  padding: 1rem 1rem 1rem 0;
}

.fixed_bottomLeft-1 {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}
.fixed_bottomRight-1 {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}




main {
  padding: 5rem 2rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: var(--shadow);
  max-width: 960px;
}

.circle_btn {
  border-radius: 50%;  
  height: 48px;
  width: 48px;
  border: none;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--shortDelay);
}

#adminBrowser_btn:hover {
  transform: rotate(180deg);
}

#topScreen_btn:hover {
  transform: scale(1.2);
}

.modalBox{
  padding: 5rem 2rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: var(--shadow);
  min-width: 960px;
  position: fixed;
  top : 5rem;
  left : calc(50% - (960px/2));
}

.outScreen_X{
  transform : translateX(-200%);
  transition: var(--shortDelay);

}

.bloc_input{
  margin : 1rem 0;
}

